table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f0f8ff; /* Color de fondo celeste */
  border: 2px solid black; /* Borde azul claro */
}

td {
  border: 1px solid black; /* Define un borde de 1 píxel y lo hace sólido */
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #b9b7b7; /* Color de fondo gris claro para filas pares */
}
tr:nth-child(odd) {
  background-color: #ffffff; /* Color de fondo blanco para filas impares */
}
